@font-face {
    font-family: my;
    src: url(FONTS/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
*
{
    padding: 0%;
    margin: 0%;
    font-family: my;
    color: white;
}


@media  (min-width:320px)
{
                /* header begins */
header
{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger >.logo
{
    width: 30px;
    height: 40px;
    margin-top: 15px;
}

.logomain >img  
{
    width: 84px;
    height: 38.4px;

}
nav
{
    margin-top: 40px;

}
.btnred
{
    background-color: red;
    border: none;
    width: 120px;   
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 50px;
        display: inline-block;
        position: relative;
        bottom: 20px;
        right: 10PX;
}
.arrow1
{
    position: relative;
   top: 2px;
}
nav >ul
{
    display: none;
}
.btnblack
{
    display: none;
}
                                  /*header end*/


.heroimg
{
    width: 100%;
    
    

}  
.hero
{   background: #000;
    display: inline-block;
    line-height: 5;
}                         
                                  /*after hero 1 section*/

.section1
{
    background-color: #000;
    width: 100%;

}           
.section1>h1
{   
    font-weight: lighter;
    text-align: center;

   }
   .section1>p
{   
    font-weight: lighter;
    text-align: center;
    line-height: 6;

   }                /*after hero 1 section PART 2*/
.section1p1
{
    display: flex   ;
    background-color: #000;
    width: 100%;
    height: auto;
    line-height: 5;
    align-items: center;
    justify-content: space-evenly;
}
.child1
{
    width: 30%;
    height: 20%;    
    background-color: white;
}
.child2
{
    width: 30%;
    height: 20%;    
    background-color: white;
}
.child3
{
    width: 30%;
    height: 20%;    
    background-color: white;
}
.c1i1
{
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 140px
    
}
}

                        


@media (min-width:992px)
{                                    /*header begin*/
header
{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.hamburger
{
    display: none;
}
.logomain >img  
{
    width: 190px;
    height: 76px;

}
nav
{
    width: 700px;
}

.logomain 
{
    margin-left: 20px;
}
nav >ul
{
    display:inline;
}
.btnblack
{
    display: inline;
        width: 138px;
    height: 45px;
        color: rgb(255, 255, 255);
    padding: 12px 16.5px 12px 16.5px;
    font-size: 14px;
    font-weight: 400;
    background: #000;
    border: solid 1px white;
    border-radius: 20px;
    position: relative;
    bottom: 10px;

}

nav >ul>li
{
    display: inline;
    list-style-type: none;
    

}
nav >ul>li>a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;     
}
.btnred
{
background-color: red;
    border: none;
    width: 144px;   
    height: 50px;
    color: white;
    font-weight: bold;
    border-radius: 50px;
        display: inline-block;
        position: relative;
        bottom: 10px;
        left: 10px;
}
                            /* header end */
}

@media  (min-width:1200px)
{               /* header begins */
header  
{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.hamburger
{
    display: none;
}
.logomain >img  
{
    width: 190px;
    height: 76px;

}
 nav
{
    width: 700px;
}

.logomain 
{
    margin-right: 220px;
}
nav >ul
{
    display:inline;
}
.btnblack
{
    display: inline;
        width: 138px;
    height: 45px;
        color: rgb(255, 255, 255);
    padding: 12px 16.5px 12px 16.5px;
    font-size: 14px;
    font-weight: 400;
    background: #000;
    border: solid 1px white;
    border-radius: 20px;
    position: relative;
    bottom: 10px;

}

nav >ul>li
{
    display: inline;
    list-style-type: none;
    

}
nav >ul>li>a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;     
}
.btnred
{
background-color: red;
    border: none;
    width: 144px;   
    height: 50px;
    color: white;
    font-weight: bold;
    border-radius: 50px;
        display: inline-block;
        position: relative;
        bottom: 10px;
        left: 10px;
}               /* header end */

}
@media  (min-width:1400px)
{
body
{
    background: #0710ff;
}
}