body
{
    color: #EEF1F7;
}
.box
{
    width: 800px;
    height: 400px;
    border: 3px solid black;
    margin: 10px auto;
}
.study
{
    width: 95%;
    height: 20%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 20px;
    background-color: #D7E0ED;
    color: #082846;
    text-align: center;
}
.one
{
    width: 30%;
    height: 40%;
    background-color: #F5F0E3;
    border: 5px solid #306E4F;
    border-radius: 10px;
}
.one>h1
{
    color: #4A7969;
}
.one>p
{
    color: #263E45;
}