body
{
    margin: 0%;

}
header
{   width: 1265px;
    height: 100px;
    background: #000;



}

.back{
    color: white;
    font-size: large;
   text-decoration: underline;

}
.logo
{
    width: 150;
    height: 60px;
    padding-left: 30px;
    padding-top: 20px;
    display: inline;
}   
.FL
{
    display: inline;
    color: white;
    list-style-type: none;
     margin-left: 300px;
    }    
header  li
{   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    margin: 10px;
    color: ffffff;
    font-size: 16px;
    font-weight: 600px;
    margin: 20px;
   margin-bottom: 200px;
   position: relative;
   bottom: 10px;
  
}
    
header a
{
     text-decoration: none;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    color: white;
    font-size: 18px;
    font: weight 500px;;
}   
.bg1>img
{   padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0%;
    width: 1265px;
    height: 550px;
    display: block;
    

}
.FTV
{
    
    background-color:rgb(21, 21, 21);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    width: 1265px;
    height: 500px;
    position: relative;
    
}
.FTV >h1
{   margin-top: 0px;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600PX;
}

.FTV >p
{
    color: white;
    text-align: center
}
.birds
{
    position: absolute;
    top: 100px;
    left: 50px;
}
.cow
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.b1
{
margin-left: 600px;
background-color: #00a450;
width: 140px;
height: 50px;
border-radius:30px;
border: 1px #00a450 solid;
color: white;
margin-top: 30px;
}
.b1:hover
{
    background-color:rgb(21, 21, 21) ;
    cursor: pointer;
}
.OM
{
width: 1265px;
height: auto;
background-color: rgb(0, 0, 0)  ;
margin-top: 0px;
padding-top: 0px;

}
.firsth1
{
   color:  rgb(255, 255, 255);
   text-align: center;
   margin-top: 0px;
   padding-top: 30px;
}
.secondh1
{ color:  rgb(255, 255, 255);
    text-align: left;
}
.btn1
{
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 174px;
    height: 50px;
    margin: 40px 12px 0px 20px;
    border-radius: 50px;
    border: 1px solid grey  ;
    font-weight:bold ;
}
.arrow
{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    left: 5px;
    margin-left: 150px;
    margin-top: 52px;
    
}
.IMG1
{
    margin-left: 660px;
    position: relative;
    bottom: 100px   ;
}
.content
{
    display: inline-block !important;
    position: relative;
    top: 10px;
    left: 50px;
}
.om1
{
    width: 520px;
     height: 600px;
}
.om2
{
        width: 520px;
     height: 520px;
     margin-left: 50px;
     display: inline;
}
.thirdh1
{
    color: white;
}
.btn2
{
        color: white;
    background-color: #000;
    cursor: pointer;
    width: 174px;
    height: 50px;
    margin: 40px 12px 0px 20px;
    border-radius: 50px;
    border: 1px solid grey  ;
    font-weight:bold ;
}
.arrow2
{
      width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    left: 5px;
    margin-left: 150px;
    margin-top: 52px;
}
.IMG2 
{
    display: inline;
}
.content2
{
    display: inline-block;
    position: relative;
    bottom: 400px;
    left: 10px;
}
.grey
{
    margin-top: 50px;
    background: #0f0f0f;
    width: 1265px;
    height: 400px;
    
}
.grey1
{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500px;
    font-size: 16px ;
    display: inline-block;
    position: relative;
    bottom: 100px;
}
.grey1>h1
{
    color: whitesmoke;
    
}
.grey1>p
{
    color: #28a641;
}
.grey2
{
    display: inline-block;
    
}
.grey2>img
{
    width: 632.5px;
    height: 400px;
    margin-left: 210px;
}
.btn3
{
   background-color:  #28a745;
   color: white;
    
    cursor: pointer;
    width: 174px;
    height: 50px;
    margin: 40px 12px 0px 20px;
    border-radius: 50px;
    border: 1px solid grey  ;
    font-weight:bold ;
}
.btn4
{
    background: #0f0f0f;
     color: white;
    
    cursor: pointer;
    width: 174px;
    height: 50px;
    margin: 40px 12px 0px 20px;
    border-radius: 50px;
    border: 1px solid grey  ;
    font-weight:bold ;
}
.arrow3
{
      width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    bottom: 12px;
    right: 20px;
}