body
{
    margin: 0%;

}
header
{   width: 1265px;
    height: 100px;
    background: #000;



}

.back{
    color: white;
    font-size: large;
   text-decoration: underline;

}
.logo
{
    width: 150;
    height: 60px;
    padding-left: 30px;
    padding-top: 20px;
    display: inline;
}   
.FL
{
    display: inline;
    color: white;
    list-style-type: none;
     margin-left: 300px;
    }    
header  li
{   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    margin: 10px;
    color: ffffff;
    font-size: 16px;
    font-weight: 600px;
    margin: 20px;
   margin-bottom: 200px;
   position: relative;
   bottom: 10px;
  
}
    
header a
{
     text-decoration: none;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    color: white;
    font-size: 18px;
    font: weight 500px;;
}   
.bg1>img
{   padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0%;
    width: 1265px;
    height: 550px
    

}
.FTV
{
    
    background-color:rgb(21, 21, 21);
    margin-top: 0px;
    padding-top: 0px;
    width: 1265px;
    height: 500px;
    position: relative;
    bottom: 27px;
}
.FTV >h1
{   padding-top: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600PX;
}

.FTV >p
{
    color: white;
    text-align: center
}
.birds
{
    position: absolute;
    top: 100px;
    left: 50px;
}
.cow
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.b1
{
margin-left: 600px;
background-color: #00a450;
width: 140px;
height: 50px;
border-radius:30px;
border: 1px #00a450 solid;
color: white;
margin-top: 30px;
}
.b1:hover
{
    background-color:rgb(21, 21, 21) ;
    cursor: pointer;
}